#today-cocktail {
  border-style: solid;
  border-color: purple;
  padding: 3%;
}
#form {
  border-style: solid;
  border-color: black;
  border-width: 0 5px 5px 0;
}

#search {
  background-color: rgb(153, 61, 61);
  border-width: 3px;
  font-size: 15px;
  padding-bottom: 2%;
  color: white;
}

#results {
  border-style: solid;
  border-color: purple;
  padding: 3%;
}

body {
  background-color: rgb(246, 215, 176);
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header {
  display: flex;
  background-color: rgba(153, 61, 61);
  text-align: center;
  color: white;
  width: 100%;
}
