.header {
  display: flex;
  background-color: rgb(153, 61, 61);
  text-align: left;
  border: red solid 5px;
  width: 100%;
  color: white;
}

#logo {
  display: flex;
  height: 100%;
  align-self: center;
  margin-left: 10px;
  border: white 1px solid;
}
.title {
  display: flex;
  text-align: center;
  justify-content: center;
}

#today-cocktail {
  border-style: solid;
  border-color: purple;
  padding: 3%;
}
#form {
  border-style: solid;
  border-color: black;
  border-width: 0 5px 5px 0;
}

#search {
  background-color: aqua;
  border-width: 3px;
  font-size: 15px;
  padding-bottom: 2%;
}

#results {
  border-style: solid;
  border-color: purple;
  padding: 3%;
}

body {
  background-color: yellow;
}
